@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 20% 95.1%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 240 6.67% 2.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 54.93 100% 45%;
    --primary-foreground: 0 0% 0%;
    --secondary: 240 4.76% 95.88%;
    --secondary-foreground: 240 5.88% 10%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 240 3.83% 46.08%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 240 5.88% 10%;
    --destructive: 0 65.33% 44.12%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 5.88% 90%;
    --input: 268.24 42.5% 84.31%;
    --ring: 240 5.03% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 4% 9.8%;
    --foreground: 0 0% 98.04%;
    --card: 210 2.7% 14.51%;
    --card-foreground: 0 0% 98.04%;
    --popover: 240 10% 3.92%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 54.77 100% 42.75%;
    --primary-foreground: 0 0% 0%;
    --secondary: 240 3.7% 15.88%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 240 3.7% 25%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 240 0.84% 23.33%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.03% 30.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 2.94% 22%;
    --input: 240 3.7% 15.88%;
    --ring: 240 4.88% 83.92%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

body {
  min-height: 100vh;
  overflow-y: scroll;
}
