@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 20% 95.1%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 240 6.67% 2.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 61.74 78.9% 57.25%;
    --primary-foreground: 0 0% 0%;
    --secondary: 240 4.76% 95.88%;
    --secondary-foreground: 240 5.88% 10%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 240 3.83% 46.08%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 240 5.88% 10%;
    --destructive: 0 72% 50.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 5.88% 90%;
    --input: 268.24 42.5% 84.31%;
    --ring: 240 5.03% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 58.82% 13.33%;
    --foreground: 0 0% 98.04%;
    --card: 240 17.14% 13.73%;
    --card-foreground: 0 0% 98.04%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 61.74 78.9% 57.25%;
    --primary-foreground: 240 5.88% 10%;
    --secondary: 0 0% 88.63%;
    --secondary-foreground: 0 0% 0%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 240 3.7% 15.88%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.03% 30.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 62.22 29.67% 35.69%;
    --input: 240 3.7% 15.88%;
    --ring: 240 4.88% 83.92%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

body {
  min-height: 100vh;
  overflow-y: scroll;
}
